@using MyShop.Domain.Models
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column mb-3">
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center @ManageNavPages.IndexNavClass(ViewContext)" asp-page="./Index">
            <i class="fas fa-user-circle mr-2"></i> Profile
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center @ManageNavPages.EmailNavClass(ViewContext)" asp-page="./Email">
            <i class="fas fa-envelope mr-2"></i> Email
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center @ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-page="./ChangePassword">
            <i class="fas fa-key mr-2"></i> Password
        </a>
    </li>
    @if (hasExternalLogins)
    {
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">
                <i class="fas fa-link mr-2"></i> External logins
            </a>
        </li>
    }
    @* <li class="nav-item">
        <a class="nav-link d-flex align-items-center @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" asp-page="./TwoFactorAuthentication">
            <i class="fas fa-shield-alt mr-2"></i> Two-factor authentication
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center @ManageNavPages.PersonalDataNavClass(ViewContext)" asp-page="./PersonalData">
            <i class="fas fa-user-shield mr-2"></i> Personal data
        </a>
    </li> *@
</ul>
